Repository cms-PdmV/GridpackFiles, pull requests merged in 2023-07, with the labels that each got.

#72 BUGFIX
  Campaigns/Run3Summer22/MadGraph5_aMCatNLO/Templates/NLO_run_card.dat
  Fragments/PartonShower/madgraph-pythia8.dat
Labels: issues : bug

#60 SingleT: TWminus_Hdamp* TWminus_MT TbarWplus_Hdamp* TbarWplus_MT
  Cards/Powheg/SingleT/TWminusto2L2Nu_Hdamp-158_powheg-pythia8/TWminusto2L2Nu_Hdamp-158_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto2L2Nu_Hdamp-418_powheg-pythia8/TWminusto2L2Nu_Hdamp-418_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto2L2Nu_MT-169p5_powheg-pythia8/TWminusto2L2Nu_MT-169p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto2L2Nu_MT-171p5_powheg-pythia8/TWminusto2L2Nu_MT-171p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto2L2Nu_MT-173p5_powheg-pythia8/TWminusto2L2Nu_MT-173p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto2L2Nu_MT-175p5_powheg-pythia8/TWminusto2L2Nu_MT-175p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto4Q_Hdamp-158_powheg-pythia8/TWminusto4Q_Hdamp-158_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto4Q_Hdamp-418_powheg-pythia8/TWminusto4Q_Hdamp-418_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto4Q_MT-169p5_powheg-pythia8/TWminusto4Q_MT-169p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto4Q_MT-171p5_powheg-pythia8/TWminusto4Q_MT-171p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto4Q_MT-173p5_powheg-pythia8/TWminusto4Q_MT-173p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto4Q_MT-175p5_powheg-pythia8/TWminusto4Q_MT-175p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminustoLNu2Q_Hdamp-158_powheg-pythia8/TWminustoLNu2Q_Hdamp-158_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminustoLNu2Q_Hdamp-418_powheg-pythia8/TWminustoLNu2Q_Hdamp-418_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminustoLNu2Q_MT-169p5_powheg-pythia8/TWminustoLNu2Q_MT-169p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminustoLNu2Q_MT-171p5_powheg-pythia8/TWminustoLNu2Q_MT-171p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminustoLNu2Q_MT-173p5_powheg-pythia8/TWminustoLNu2Q_MT-173p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminustoLNu2Q_MT-175p5_powheg-pythia8/TWminustoLNu2Q_MT-175p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto2L2Nu_Hdamp-158_powheg-pythia8/TbarWplusto2L2Nu_Hdamp-158_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto2L2Nu_Hdamp-418_powheg-pythia8/TbarWplusto2L2Nu_Hdamp-418_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto2L2Nu_MT-169p5_powheg-pythia8/TbarWplusto2L2Nu_MT-169p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto2L2Nu_MT-171p5_powheg-pythia8/TbarWplusto2L2Nu_MT-171p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto2L2Nu_MT-173p5_powheg-pythia8/TbarWplusto2L2Nu_MT-173p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto2L2Nu_MT-175p5_powheg-pythia8/TbarWplusto2L2Nu_MT-175p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto4Q_Hdamp-158_powheg-pythia8/TbarWplusto4Q_Hdamp-158_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto4Q_Hdamp-418_powheg-pythia8/TbarWplusto4Q_Hdamp-418_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto4Q_MT-169p5_powheg-pythia8/TbarWplusto4Q_MT-169p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto4Q_MT-171p5_powheg-pythia8/TbarWplusto4Q_MT-171p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto4Q_MT-173p5_powheg-pythia8/TbarWplusto4Q_MT-173p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto4Q_MT-175p5_powheg-pythia8/TbarWplusto4Q_MT-175p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplustoLNu2Q_Hdamp-158_powheg-pythia8/TbarWplustoLNu2Q_Hdamp-158_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplustoLNu2Q_Hdamp-418_powheg-pythia8/TbarWplustoLNu2Q_Hdamp-418_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplustoLNu2Q_MT-169p5_powheg-pythia8/TbarWplustoLNu2Q_MT-169p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplustoLNu2Q_MT-171p5_powheg-pythia8/TbarWplustoLNu2Q_MT-171p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplustoLNu2Q_MT-173p5_powheg-pythia8/TbarWplustoLNu2Q_MT-173p5_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplustoLNu2Q_MT-175p5_powheg-pythia8/TbarWplustoLNu2Q_MT-175p5_powheg-pythia8.json
Labels: issues : mc submission, process : singlet

#80 Return to cuts.f methodology for ttZ
  Cards/MadGraph5_aMCatNLO/TT/TTLL_MLL-10to50_amcatnlo-pythia8/TTLL_MLL-10to50_amcatnlo-pythia8_cuts.f
  Cards/MadGraph5_aMCatNLO/TT/TTLL_MLL-10to50_amcatnlo-pythia8/TTLL_MLL-10to50_amcatnlo-pythia8_cuts.patch
  Cards/MadGraph5_aMCatNLO/TT/TTLL_MLL-1to4_amcatnlo-pythia8/TTLL_MLL-1to4_amcatnlo-pythia8_cuts.f
  Cards/MadGraph5_aMCatNLO/TT/TTLL_MLL-1to4_amcatnlo-pythia8/TTLL_MLL-1to4_amcatnlo-pythia8_cuts.patch
  Cards/MadGraph5_aMCatNLO/TT/TTLL_MLL-4to10_amcatnlo-pythia8/TTLL_MLL-4to10_amcatnlo-pythia8_cuts.f
  Cards/MadGraph5_aMCatNLO/TT/TTLL_MLL-4to10_amcatnlo-pythia8/TTLL_MLL-4to10_amcatnlo-pythia8_cuts.patch
Labels: issues : bug, process : tt

#82 adding mass binned DY to tau tau
  Cards/Powheg/DY/DYto2Tau_MLL-10to50_powheg-pythia8/DYto2Tau_MLL-10to50_powheg-pythia8.json
  Cards/Powheg/DY/DYto2Tau_MLL-120to200_powheg-pythia8/DYto2Tau_MLL-120to200_powheg-pythia8.json
  Cards/Powheg/DY/DYto2Tau_MLL-1500to2500_powheg-pythia8/DYto2Tau_MLL-1500to2500_powheg-pythia8.json
  Cards/Powheg/DY/DYto2Tau_MLL-200to400_powheg-pythia8/DYto2Tau_MLL-200to400_powheg-pythia8.json
  Cards/Powheg/DY/DYto2Tau_MLL-2500to4000_powheg-pythia8/DYto2Tau_MLL-2500to4000_powheg-pythia8.json
  Cards/Powheg/DY/DYto2Tau_MLL-4000to6000_powheg-pythia8/DYto2Tau_MLL-4000to6000_powheg-pythia8.json
  Cards/Powheg/DY/DYto2Tau_MLL-400to800_powheg-pythia8/DYto2Tau_MLL-400to800_powheg-pythia8.json
  Cards/Powheg/DY/DYto2Tau_MLL-50to120_powheg-pythia8/DYto2Tau_MLL-50to120_powheg-pythia8.json
  Cards/Powheg/DY/DYto2Tau_MLL-6000_powheg-pythia8/DYto2Tau_MLL-6000_powheg-pythia8.json
  Cards/Powheg/DY/DYto2Tau_MLL-800to1500_powheg-pythia8/DYto2Tau_MLL-800to1500_powheg-pythia8.json
Labels: issues : mc submission, process : dy/z

#76 ST tW channel DS Powheg 5FS
  Campaigns/Run3Summer22/Powheg/ModelParams/ST_wtch_DS.input
  Campaigns/Run3Summer22/Powheg/Templates/ST_wtch_DS.input
  Cards/Powheg/SingleT/TWminusto2L2Nu_DS_powheg-pythia8/TWminusto2L2Nu_DS_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminusto4Q_DS_powheg-pythia8/TWminusto4Q_DS_powheg-pythia8.json
  Cards/Powheg/SingleT/TWminustoLNu2Q_DS_powheg-pythia8/TWminustoLNu2Q_DS_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto2L2Nu_DS_powheg-pythia8/TbarWplusto2L2Nu_DS_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplusto4Q_DS_powheg-pythia8/TbarWplusto4Q_DS_powheg-pythia8.json
  Cards/Powheg/SingleT/TbarWplustoLNu2Q_DS_powheg-pythia8/TbarWplustoLNu2Q_DS_powheg-pythia8.json
Labels: issues : mc submission, process : singlet

#83 Cards for tZq and tGq
  Cards/MadGraph5_aMCatNLO/SingleT/TBQ2L_amcatnlo-pythia8/TBQ2L_amcatnlo-pythia8.json
  Cards/MadGraph5_aMCatNLO/SingleT/TBQ2L_amcatnlo-pythia8/TBQ2L_amcatnlo-pythia8_madspin_card.dat
  Cards/MadGraph5_aMCatNLO/SingleT/TBQ2L_amcatnlo-pythia8/TBQ2L_amcatnlo-pythia8_proc_card.dat
  Cards/MadGraph5_aMCatNLO/SingleT/TBQG_amcatnlo-pythia8/TBQG_amcatnlo-pythia8.json
  Cards/MadGraph5_aMCatNLO/SingleT/TBQG_amcatnlo-pythia8/TBQG_amcatnlo-pythia8_madspin_card.dat
  Cards/MadGraph5_aMCatNLO/SingleT/TBQG_amcatnlo-pythia8/TBQG_amcatnlo-pythia8_proc_card.dat
Labels: process : singlet
